Source: ros-jazzy-lifecycle-py
Section: misc
Priority: optional
Maintainer: Aditya Pande <aditya.pande@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>, ros-jazzy-lifecycle <!nocheck>, ros-jazzy-ros-testing <!nocheck>, ros-jazzy-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-lifecycle-py
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-jazzy-lifecycle-msgs, ros-jazzy-rclpy, ros-jazzy-std-msgs, ros-jazzy-ros-workspace
Description: Package containing demos for rclpy lifecycle implementation
