Source: ros-jazzy-dummy-map-server
Section: misc
Priority: optional
Maintainer: Aditya Pande <aditya.pande@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-gtest <!nocheck>, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>, ros-jazzy-nav-msgs, ros-jazzy-rclcpp, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-dummy-map-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-nav-msgs, ros-jazzy-rclcpp, ros-jazzy-ros-workspace
Description: dummy map server node
